// HEADER

$greyblue : #242532;
$bg_alt : #ececec;
$white : #fff;
$blue_title: #2196f3;
$bg_btn : #fe4943;
$bg_btn_hover : #fe4943;
$fondBackgroundColor : #161d35;
$fondFooter : #151515;
$fondCopyright :#131313;
